<html>
    <head>
        <title>Jeanoza's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">L'Existence précède l'essence.</a></h1>
        </div>
        <div>
            <p>published: 26/04/2020</p>
            <h2><a href="">My first post노</a></h2>
            <p>Ce que j'ai fait maintenant pourrait me conduire à un chemin de développeur.신</p>
        </div>

        <div>
            <p>published: 26/04/2020</p>
            <h2><a href="">My second post바</a></h2>
            <p>Confinement est dur mais cela me donne du temps libre afin d'améliorer ma compétence보</p>
        </div>
    </body>
</html>